$primary-color: #1c1c1c;         // Charcoal black
$secondary-color: #2f2f2f;       // Deep grey
$accent-color: #c9a56d;          // Gold / Camel tone
$highlight-color: #4b4b4b;       // Dark grey for hover/bg
$text-color: #e0e0e0;            // Light grey text
$mainbackground-color: #f8f5f5;      // Soft light background
$white-color: #ffffff;
$danger-color: #dbcfcf;          // Maroon red for alerts
$success-color: #4caf50;         // Subtle green
$card-hover:#252525;


// Headings and Titles
$heading-font: 'Montserrat', sans-serif;

// Body Text
$body-font: 'Lora', serif;

